<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eseo.tvshowtracker" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:screenOrientation="portrait" >
        <activity
            android:name=".UI.activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.activities.SearchResultsActivity"
            android:label="@string/result_activity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UI.activities.MainActivity" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".UI.activities.DetailedTvShowActivity"
            android:label="@string/title_activity_detailed_tv_show"
            android:parentActivityName=".UI.activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eseo.tvshowtracker.UI.activities.MainActivity" />
        </activity>
        <activity
            android:name=".UI.activities.EpisodeActivity"
            android:label="@string/title_activity_episode"
            android:parentActivityName=".UI.activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eseo.tvshowtracker.UI.activities.MainActivity" />
        </activity>
    </application>

</manifest>
